run = "Run"
[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libxcrypt", "pkg-config", "xsimd"]

[deployment]
run = ["sh", "-c", "Run"]

[workflows]
runButton = "Run Analysis"

[[workflows.workflow]]
name = "Run Analysis"
author = 42214058
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
