run = "Run"
[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libxcrypt", "pkg-config", "qhull", "tcl", "tk", "xsimd"]

[deployment]
run = ["sh", "-c", "Run"]

[workflows]
runButton = "Run Analysis"

[[workflows.workflow]]
name = "Run Analysis"
author = 42214058
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
